/****** Object:  Trigger [trg_InsertVe]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP TRIGGER [dbo].[trg_InsertVe]
GO
/****** Object:  Trigger [TR_Phim_XoaDinhDang]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP TRIGGER [dbo].[TR_Phim_XoaDinhDang]
GO
/****** Object:  Trigger [trg_DeleteTaiKhoanOnNhanVienDelete]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP TRIGGER [dbo].[trg_DeleteTaiKhoanOnNhanVienDelete]
GO
/****** Object:  Trigger [trg_AfterInsertNhanVien]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP TRIGGER [dbo].[trg_AfterInsertNhanVien]
GO
/****** Object:  StoredProcedure [dbo].[USP_Ve_CRUD]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP PROCEDURE [dbo].[USP_Ve_CRUD]
GO
/****** Object:  StoredProcedure [dbo].[USP_TheLoai_CRUD]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP PROCEDURE [dbo].[USP_TheLoai_CRUD]
GO
/****** Object:  StoredProcedure [dbo].[USP_TaiKhoan_CRUD]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP PROCEDURE [dbo].[USP_TaiKhoan_CRUD]
GO
/****** Object:  StoredProcedure [dbo].[USP_PhongChieu_CRUD]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP PROCEDURE [dbo].[USP_PhongChieu_CRUD]
GO
/****** Object:  StoredProcedure [dbo].[USP_Phim_CRUD]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP PROCEDURE [dbo].[USP_Phim_CRUD]
GO
/****** Object:  StoredProcedure [dbo].[USP_NhanVien_CRUD]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP PROCEDURE [dbo].[USP_NhanVien_CRUD]
GO
/****** Object:  StoredProcedure [dbo].[USP_MonAn_CRUD]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP PROCEDURE [dbo].[USP_MonAn_CRUD]
GO
/****** Object:  StoredProcedure [dbo].[USP_ManHinh_CRUD]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP PROCEDURE [dbo].[USP_ManHinh_CRUD]
GO
/****** Object:  StoredProcedure [dbo].[USP_LichChieu_CRUD]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP PROCEDURE [dbo].[USP_LichChieu_CRUD]
GO
/****** Object:  StoredProcedure [dbo].[USP_KhachHang_CRUD]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP PROCEDURE [dbo].[USP_KhachHang_CRUD]
GO
/****** Object:  StoredProcedure [dbo].[USP_Ghe_CRUD]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP PROCEDURE [dbo].[USP_Ghe_CRUD]
GO
/****** Object:  StoredProcedure [dbo].[USP_DoanhThu_TheoTuan]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP PROCEDURE [dbo].[USP_DoanhThu_TheoTuan]
GO
/****** Object:  StoredProcedure [dbo].[USP_DoanhThu_TheoPhim_TheoThang]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP PROCEDURE [dbo].[USP_DoanhThu_TheoPhim_TheoThang]
GO
/****** Object:  StoredProcedure [dbo].[USP_DoanhThu_TheoNgay]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP PROCEDURE [dbo].[USP_DoanhThu_TheoNgay]
GO
/****** Object:  StoredProcedure [dbo].[USP_DinhDang_CRUD]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP PROCEDURE [dbo].[USP_DinhDang_CRUD]
GO
ALTER TABLE [dbo].[Ve] DROP CONSTRAINT [FK__Ve__idLichChieu__75A278F5]
GO
ALTER TABLE [dbo].[Ve] DROP CONSTRAINT [FK__Ve__idKhachHang__74AE54BC]
GO
ALTER TABLE [dbo].[Ve] DROP CONSTRAINT [FK__Ve__idHoaDon__73BA3083]
GO
ALTER TABLE [dbo].[Ve] DROP CONSTRAINT [FK__Ve__idGhe__72C60C4A]
GO
ALTER TABLE [dbo].[TaiKhoan] DROP CONSTRAINT [FK__TaiKhoan__idNV__71D1E811]
GO
ALTER TABLE [dbo].[PhongChieu] DROP CONSTRAINT [FK__PhongChie__idMan__70DDC3D8]
GO
ALTER TABLE [dbo].[PhanLoaiPhim] DROP CONSTRAINT [FK__PhanLoaiP__idThe__6FE99F9F]
GO
ALTER TABLE [dbo].[PhanLoaiPhim] DROP CONSTRAINT [FK__PhanLoaiP__idPhi__6EF57B66]
GO
ALTER TABLE [dbo].[LichChieu] DROP CONSTRAINT [FK_LichChieu_Phong]
GO
ALTER TABLE [dbo].[LichChieu] DROP CONSTRAINT [FK_LichChieu_DinhDang]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [FK_HoaDon_LichChieu]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [FK__HoaDon__idNhanVi__6C190EBB]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [FK__HoaDon__idKhachH__6B24EA82]
GO
ALTER TABLE [dbo].[Ghe] DROP CONSTRAINT [FK__Ghe__idPhong__6A30C649]
GO
ALTER TABLE [dbo].[Ghe] DROP CONSTRAINT [FK__Ghe__idLoaiGhe__693CA210]
GO
ALTER TABLE [dbo].[DinhDangPhim] DROP CONSTRAINT [FK__DinhDangP__idPhi__68487DD7]
GO
ALTER TABLE [dbo].[DinhDangPhim] DROP CONSTRAINT [FK__DinhDangP__idLoa__6754599E]
GO
ALTER TABLE [dbo].[ChiTietMonAn] DROP CONSTRAINT [FK_ChiTietMonAn_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietMonAn] DROP CONSTRAINT [FK__ChiTietMo__idMon__66603565]
GO
ALTER TABLE [dbo].[ChiTietMonAn] DROP CONSTRAINT [FK__ChiTietMo__idHoa__656C112C]
GO
ALTER TABLE [dbo].[Ve] DROP CONSTRAINT [DF__Ve__TienBanVe__6477ECF3]
GO
ALTER TABLE [dbo].[Ve] DROP CONSTRAINT [DF__Ve__TrangThai__6383C8BA]
GO
ALTER TABLE [dbo].[Ve] DROP CONSTRAINT [DF__Ve__LoaiVe__628FA481]
GO
ALTER TABLE [dbo].[TaiKhoan] DROP CONSTRAINT [DF__TaiKhoan__LoaiTK__619B8048]
GO
ALTER TABLE [dbo].[PhongChieu] DROP CONSTRAINT [DF__PhongChie__TinhT__60A75C0F]
GO
ALTER TABLE [dbo].[MonAn] DROP CONSTRAINT [DF__MonAn__TrangThai__5FB337D6]
GO
ALTER TABLE [dbo].[LichChieu] DROP CONSTRAINT [DF__LichChieu__Trang__5EBF139D]
GO
ALTER TABLE [dbo].[KhachHang] DROP CONSTRAINT [DF__KhachHang__DiemT__5DCAEF64]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [DF__HoaDon__DiemSuDu__2A164134]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [DF__HoaDon__TrangTha__5CD6CB2B]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [DF__HoaDon__PhuongTh__5BE2A6F2]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [DF__HoaDon__GiamGia__5AEE82B9]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [DF__HoaDon__NgayLap__59FA5E80]
GO
ALTER TABLE [dbo].[Ghe] DROP CONSTRAINT [DF__Ghe__TrangThai__59063A47]
GO
ALTER TABLE [dbo].[Ghe] DROP CONSTRAINT [DF__Ghe__idLoaiGhe__5812160E]
GO
ALTER TABLE [dbo].[ChiTietMonAn] DROP CONSTRAINT [DF__ChiTietMo__SoLuo__571DF1D5]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 25-Dec-25 8:34:56 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ve]') AND type in (N'U'))
DROP TABLE [dbo].[Ve]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 25-Dec-25 8:34:56 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TheLoai]') AND type in (N'U'))
DROP TABLE [dbo].[TheLoai]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 25-Dec-25 8:34:56 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TaiKhoan]') AND type in (N'U'))
DROP TABLE [dbo].[TaiKhoan]
GO
/****** Object:  Table [dbo].[PhongChieu]    Script Date: 25-Dec-25 8:34:56 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PhongChieu]') AND type in (N'U'))
DROP TABLE [dbo].[PhongChieu]
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 25-Dec-25 8:34:56 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Phim]') AND type in (N'U'))
DROP TABLE [dbo].[Phim]
GO
/****** Object:  Table [dbo].[PhanLoaiPhim]    Script Date: 25-Dec-25 8:34:56 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PhanLoaiPhim]') AND type in (N'U'))
DROP TABLE [dbo].[PhanLoaiPhim]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 25-Dec-25 8:34:56 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NhanVien]') AND type in (N'U'))
DROP TABLE [dbo].[NhanVien]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 25-Dec-25 8:34:56 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MonAn]') AND type in (N'U'))
DROP TABLE [dbo].[MonAn]
GO
/****** Object:  Table [dbo].[LoaiManHinh]    Script Date: 25-Dec-25 8:34:56 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LoaiManHinh]') AND type in (N'U'))
DROP TABLE [dbo].[LoaiManHinh]
GO
/****** Object:  Table [dbo].[LoaiGhe]    Script Date: 25-Dec-25 8:34:56 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LoaiGhe]') AND type in (N'U'))
DROP TABLE [dbo].[LoaiGhe]
GO
/****** Object:  Table [dbo].[LichChieu]    Script Date: 25-Dec-25 8:34:56 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LichChieu]') AND type in (N'U'))
DROP TABLE [dbo].[LichChieu]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 25-Dec-25 8:34:56 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KhachHang]') AND type in (N'U'))
DROP TABLE [dbo].[KhachHang]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 25-Dec-25 8:34:56 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HoaDon]') AND type in (N'U'))
DROP TABLE [dbo].[HoaDon]
GO
/****** Object:  Table [dbo].[Ghe]    Script Date: 25-Dec-25 8:34:56 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ghe]') AND type in (N'U'))
DROP TABLE [dbo].[Ghe]
GO
/****** Object:  Table [dbo].[DinhDangPhim]    Script Date: 25-Dec-25 8:34:56 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DinhDangPhim]') AND type in (N'U'))
DROP TABLE [dbo].[DinhDangPhim]
GO
/****** Object:  Table [dbo].[ChiTietMonAn]    Script Date: 25-Dec-25 8:34:56 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ChiTietMonAn]') AND type in (N'U'))
DROP TABLE [dbo].[ChiTietMonAn]
GO
/****** Object:  UserDefinedFunction [dbo].[fuConvertToUnsign1]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP FUNCTION [dbo].[fuConvertToUnsign1]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_EncryptPassword]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP FUNCTION [dbo].[fn_EncryptPassword]
GO
/****** Object:  Sequence [dbo].[Seq_LichChieu]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP SEQUENCE [dbo].[Seq_LichChieu]
GO
/****** Object:  Database [QLRPhim]    Script Date: 25-Dec-25 8:34:56 AM ******/
DROP DATABASE [QLRPhim]
GO
/****** Object:  Database [QLRPhim]    Script Date: 25-Dec-25 8:34:56 AM ******/
CREATE DATABASE [QLRPhim]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLRPhim', FILENAME = N'/var/opt/mssql/data/QLRPhim.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLRPhim_log', FILENAME = N'/var/opt/mssql/data/QLRPhim.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLRPhim].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Sequence [dbo].[Seq_LichChieu]    Script Date: 25-Dec-25 8:34:56 AM ******/
CREATE SEQUENCE [dbo].[Seq_LichChieu] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  UserDefinedFunction [dbo].[fn_EncryptPassword]    Script Date: 25-Dec-25 8:34:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_EncryptPassword](@password NVARCHAR(100))
RETURNS NVARCHAR(400)
AS
BEGIN
    DECLARE @hash VARBINARY(16)
    DECLARE @result NVARCHAR(400) = N''
    DECLARE @i INT = 1

    SET @hash = HASHBYTES('MD5', CAST(@password AS VARCHAR(100)))

    WHILE @i <= DATALENGTH(@hash)
    BEGIN
        SET @result += CAST(
                           CAST(SUBSTRING(@hash, @i, 1) AS INT)
                           AS NVARCHAR
                         )
        SET @i += 1
    END

    RETURN REVERSE(@result)
END
GO
/****** Object:  UserDefinedFunction [dbo].[fuConvertToUnsign1]    Script Date: 25-Dec-25 8:34:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fuConvertToUnsign1] (@str NVARCHAR(MAX))
RETURNS NVARCHAR(MAX)
AS
BEGIN
    IF @str IS NULL RETURN NULL;

    DECLARE @result NVARCHAR(MAX);
    SET @result = LOWER(@str);

    SET @result = REPLACE(@result, N'á', 'a');
    SET @result = REPLACE(@result, N'à', 'a');
    SET @result = REPLACE(@result, N'ả', 'a');
    SET @result = REPLACE(@result, N'ã', 'a');
    SET @result = REPLACE(@result, N'ạ', 'a');

    SET @result = REPLACE(@result, N'é', 'e');
    SET @result = REPLACE(@result, N'è', 'e');
    SET @result = REPLACE(@result, N'ẻ', 'e');
    SET @result = REPLACE(@result, N'ẽ', 'e');
    SET @result = REPLACE(@result, N'ẹ', 'e');

    SET @result = REPLACE(@result, N'í', 'i');
    SET @result = REPLACE(@result, N'ì', 'i');
    SET @result = REPLACE(@result, N'ỉ', 'i');
    SET @result = REPLACE(@result, N'ĩ', 'i');
    SET @result = REPLACE(@result, N'ị', 'i');

    SET @result = REPLACE(@result, N'ó', 'o');
    SET @result = REPLACE(@result, N'ò', 'o');
    SET @result = REPLACE(@result, N'ỏ', 'o');
    SET @result = REPLACE(@result, N'õ', 'o');
    SET @result = REPLACE(@result, N'ọ', 'o');

    SET @result = REPLACE(@result, N'ú', 'u');
    SET @result = REPLACE(@result, N'ù', 'u');
    SET @result = REPLACE(@result, N'ủ', 'u');
    SET @result = REPLACE(@result, N'ũ', 'u');
    SET @result = REPLACE(@result, N'ụ', 'u');

    SET @result = REPLACE(@result, N'đ', 'd');

    RETURN @result;
END
GO
/****** Object:  Table [dbo].[ChiTietMonAn]    Script Date: 25-Dec-25 8:34:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietMonAn](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idHoaDon] [varchar](50) NOT NULL,
	[idMonAn] [varchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [money] NOT NULL,
	[ThanhTien] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DinhDangPhim]    Script Date: 25-Dec-25 8:34:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DinhDangPhim](
	[id] [varchar](50) NOT NULL,
	[idPhim] [varchar](50) NOT NULL,
	[idLoaiManHinh] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ghe]    Script Date: 25-Dec-25 8:34:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ghe](
	[id] [varchar](50) NOT NULL,
	[MaGhe] [varchar](50) NOT NULL,
	[idPhong] [varchar](50) NOT NULL,
	[Hang] [int] NOT NULL,
	[Cot] [int] NOT NULL,
	[idLoaiGhe] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaGhe] ASC,
	[idPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 25-Dec-25 8:34:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[id] [varchar](50) NOT NULL,
	[idKhachHang] [varchar](50) NULL,
	[idNhanVien] [varchar](50) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[TongTien] [decimal](18, 2) NULL,
	[GiamGia] [money] NULL,
	[ThanhTien] [money] NOT NULL,
	[PhuongThucTT] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[DiemSuDung] [int] NULL,
	[idLichChieu] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 25-Dec-25 8:34:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[id] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [varchar](100) NULL,
	[CMND] [int] NOT NULL,
	[DiemTichLuy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichChieu]    Script Date: 25-Dec-25 8:34:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichChieu](
	[id] [varchar](50) NOT NULL,
	[ThoiGianChieu] [datetime] NOT NULL,
	[idPhong] [varchar](50) NOT NULL,
	[idDinhDang] [varchar](50) NOT NULL,
	[TrangThai] [int] NOT NULL,
	[GiaVe] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiGhe]    Script Date: 25-Dec-25 8:34:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiGhe](
	[idLoaiGhe] [int] NOT NULL,
	[TenLoaiGhe] [nvarchar](50) NOT NULL,
	[ChiPhi] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idLoaiGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiManHinh]    Script Date: 25-Dec-25 8:34:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiManHinh](
	[id] [varchar](50) NOT NULL,
	[TenMH] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 25-Dec-25 8:34:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[id] [varchar](50) NOT NULL,
	[TenMon] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[DonGia] [money] NOT NULL,
	[LoaiMon] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[HinhAnh] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[id] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [varchar](100) NULL,
	[CMND] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanLoaiPhim]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanLoaiPhim](
	[idPhim] [varchar](50) NOT NULL,
	[idTheLoai] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PhanLoaiPhim] PRIMARY KEY CLUSTERED 
(
	[idPhim] ASC,
	[idTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[id] [varchar](50) NOT NULL,
	[TenPhim] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](1000) NULL,
	[ThoiLuong] [int] NULL,
	[NgayKhoiChieu] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[SanXuat] [nvarchar](50) NOT NULL,
	[DaoDien] [nvarchar](100) NULL,
	[NamSX] [int] NOT NULL,
	[ApPhich] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongChieu]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongChieu](
	[id] [varchar](50) NOT NULL,
	[TenPhong] [nvarchar](100) NOT NULL,
	[idManHinh] [varchar](50) NULL,
	[SoChoNgoi] [int] NOT NULL,
	[TinhTrang] [int] NOT NULL,
	[SoHangGhe] [int] NOT NULL,
	[SoGheMotHang] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[UserName] [nvarchar](100) NOT NULL,
	[Pass] [varchar](1000) NOT NULL,
	[LoaiTK] [int] NOT NULL,
	[idNV] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[id] [varchar](50) NOT NULL,
	[TenTheLoai] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[LoaiVe] [int] NULL,
	[idLichChieu] [varchar](50) NULL,
	[idGhe] [varchar](50) NULL,
	[idHoaDon] [varchar](50) NULL,
	[idKhachHang] [varchar](50) NULL,
	[TrangThai] [int] NOT NULL,
	[TienBanVe] [money] NULL,
	[MaGhe] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietMonAn] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[Ghe] ADD  DEFAULT ((0)) FOR [idLoaiGhe]
GO
ALTER TABLE [dbo].[Ghe] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [GiamGia]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [PhuongThucTT]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [DiemSuDung]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[LichChieu] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[MonAn] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhongChieu] ADD  DEFAULT ((1)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((2)) FOR [LoaiTK]
GO
ALTER TABLE [dbo].[Ve] ADD  DEFAULT ((0)) FOR [LoaiVe]
GO
ALTER TABLE [dbo].[Ve] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[Ve] ADD  DEFAULT ((0)) FOR [TienBanVe]
GO
ALTER TABLE [dbo].[ChiTietMonAn]  WITH CHECK ADD FOREIGN KEY([idHoaDon])
REFERENCES [dbo].[HoaDon] ([id])
GO
ALTER TABLE [dbo].[ChiTietMonAn]  WITH CHECK ADD FOREIGN KEY([idMonAn])
REFERENCES [dbo].[MonAn] ([id])
GO
ALTER TABLE [dbo].[ChiTietMonAn]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietMonAn_HoaDon] FOREIGN KEY([idHoaDon])
REFERENCES [dbo].[HoaDon] ([id])
GO
ALTER TABLE [dbo].[ChiTietMonAn] CHECK CONSTRAINT [FK_ChiTietMonAn_HoaDon]
GO
ALTER TABLE [dbo].[DinhDangPhim]  WITH CHECK ADD FOREIGN KEY([idLoaiManHinh])
REFERENCES [dbo].[LoaiManHinh] ([id])
GO
ALTER TABLE [dbo].[DinhDangPhim]  WITH CHECK ADD FOREIGN KEY([idPhim])
REFERENCES [dbo].[Phim] ([id])
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD FOREIGN KEY([idLoaiGhe])
REFERENCES [dbo].[LoaiGhe] ([idLoaiGhe])
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD FOREIGN KEY([idPhong])
REFERENCES [dbo].[PhongChieu] ([id])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[KhachHang] ([id])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([id])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_LichChieu] FOREIGN KEY([idLichChieu])
REFERENCES [dbo].[LichChieu] ([id])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_LichChieu]
GO
ALTER TABLE [dbo].[LichChieu]  WITH CHECK ADD  CONSTRAINT [FK_LichChieu_DinhDang] FOREIGN KEY([idDinhDang])
REFERENCES [dbo].[DinhDangPhim] ([id])
GO
ALTER TABLE [dbo].[LichChieu] CHECK CONSTRAINT [FK_LichChieu_DinhDang]
GO
ALTER TABLE [dbo].[LichChieu]  WITH CHECK ADD  CONSTRAINT [FK_LichChieu_Phong] FOREIGN KEY([idPhong])
REFERENCES [dbo].[PhongChieu] ([id])
GO
ALTER TABLE [dbo].[LichChieu] CHECK CONSTRAINT [FK_LichChieu_Phong]
GO
ALTER TABLE [dbo].[PhanLoaiPhim]  WITH CHECK ADD FOREIGN KEY([idPhim])
REFERENCES [dbo].[Phim] ([id])
GO
ALTER TABLE [dbo].[PhanLoaiPhim]  WITH CHECK ADD FOREIGN KEY([idTheLoai])
REFERENCES [dbo].[TheLoai] ([id])
GO
ALTER TABLE [dbo].[PhongChieu]  WITH CHECK ADD FOREIGN KEY([idManHinh])
REFERENCES [dbo].[LoaiManHinh] ([id])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([idNV])
REFERENCES [dbo].[NhanVien] ([id])
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD FOREIGN KEY([idGhe])
REFERENCES [dbo].[Ghe] ([id])
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD FOREIGN KEY([idHoaDon])
REFERENCES [dbo].[HoaDon] ([id])
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[KhachHang] ([id])
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD FOREIGN KEY([idLichChieu])
REFERENCES [dbo].[LichChieu] ([id])
GO
/****** Object:  StoredProcedure [dbo].[USP_DinhDang_CRUD]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DinhDang_CRUD]
(
    @Action        NVARCHAR(20),          -- 'GET_ALL', 'INSERT', 'UPDATE', 'DELETE', 'SEARCH'
    @MaDinhDang    VARCHAR(50) = NULL,
    @MaPhim        VARCHAR(50) = NULL,
    @MaManHinh     VARCHAR(50) = NULL,
    @TenPhim       NVARCHAR(255) = NULL,
    @TenManHinh    NVARCHAR(255) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- ===================== GET_ALL =====================
    IF @Action = 'GET_ALL'
    BEGIN
        SELECT 
            DD.id      AS MaDinhDang,
            P.id       AS MaPhim,
            P.TenPhim  AS TenPhim,
            MH.id      AS MaManHinh,
            MH.TenMH   AS TenManHinh
        FROM DinhDangPhim DD
        JOIN Phim P ON DD.idPhim = P.id
        JOIN LoaiManHinh MH ON DD.idLoaiManHinh = MH.id;
        RETURN;
    END

    -- ===================== INSERT =====================
    IF @Action = 'INSERT'
    BEGIN
        DECLARE @NextNumber INT;
        DECLARE @NewID VARCHAR(50);

        SELECT @NextNumber = ISNULL(
            MAX(CAST(SUBSTRING(id, 3, LEN(id)) AS INT)), 0
        ) + 1
        FROM DinhDangPhim
        WHERE id LIKE 'DD%';

        SET @NewID = 'DD' + RIGHT('000' + CAST(@NextNumber AS VARCHAR), 3);

        INSERT INTO DinhDangPhim (id, idPhim, idLoaiManHinh)
        VALUES (@NewID, @MaPhim, @MaManHinh);

        RETURN;
    END

    -- ===================== UPDATE =====================
    IF @Action = 'UPDATE'
    BEGIN
        UPDATE DinhDangPhim
        SET idPhim = @MaPhim,
            idLoaiManHinh = @MaManHinh
        WHERE id = @MaDinhDang;

        RETURN;
    END

    -- ===================== DELETE =====================
    IF @Action = 'DELETE'
    BEGIN
        DELETE FROM DinhDangPhim
        WHERE id = @MaDinhDang;

        RETURN;
    END

    -- ===================== SEARCH =====================
    IF @Action = 'SEARCH'
    BEGIN
        SELECT 
            DD.id      AS MaDinhDang,
            P.id       AS MaPhim,
            P.TenPhim  AS TenPhim,
            MH.id      AS MaManHinh,
            MH.TenMH   AS TenManHinh
        FROM DinhDangPhim DD
        JOIN Phim P ON DD.idPhim = P.id
        JOIN LoaiManHinh MH ON DD.idLoaiManHinh = MH.id
        WHERE (@MaDinhDang IS NULL OR DD.id LIKE '%' + @MaDinhDang + '%')
          AND (@MaPhim IS NULL OR P.id LIKE '%' + @MaPhim + '%')
          AND (@MaManHinh IS NULL OR MH.id LIKE '%' + @MaManHinh + '%')
          AND (@TenPhim IS NULL OR P.TenPhim LIKE N'%' + @TenPhim + N'%')
          AND (@TenManHinh IS NULL OR MH.TenMH LIKE N'%' + @TenManHinh + N'%');
        RETURN;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DoanhThu_TheoNgay]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DoanhThu_TheoNgay]
    @fromDate DATE,
    @toDate   DATE
AS
BEGIN
    SELECT 
        CONVERT(DATE, LC.ThoiGianChieu) AS [Ngày],
        COUNT(V.id) AS [Số vé đã bán],
        SUM(V.TienBanVe) AS [Tổng doanh thu]
    FROM Ve V
    JOIN LichChieu LC ON V.idLichChieu = LC.id
    WHERE 
        V.TrangThai = 1
        AND LC.ThoiGianChieu >= @fromDate
        AND LC.ThoiGianChieu < DATEADD(DAY, 1, @toDate)
    GROUP BY CONVERT(DATE, LC.ThoiGianChieu)
    ORDER BY [Ngày];
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DoanhThu_TheoPhim_TheoThang]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DoanhThu_TheoPhim_TheoThang]
    @idMovie VARCHAR(50),
    @month INT,
    @year  INT
AS
BEGIN
    SELECT 
        P.TenPhim AS [Tên phim],
        MONTH(LC.ThoiGianChieu) AS [Tháng],
        YEAR(LC.ThoiGianChieu)  AS [Năm],
        COUNT(V.id) AS [Số vé đã bán],
        SUM(V.TienBanVe) AS [Tổng doanh thu]
    FROM Ve V
    JOIN LichChieu LC ON V.idLichChieu = LC.id
    JOIN DinhDangPhim DDP ON LC.idDinhDang = DDP.id
    JOIN Phim P ON DDP.idPhim = P.id
    WHERE 
        V.TrangThai = 1
        AND P.id = @idMovie
        AND MONTH(LC.ThoiGianChieu) = @month
        AND YEAR(LC.ThoiGianChieu) = @year
    GROUP BY 
        P.TenPhim,
        MONTH(LC.ThoiGianChieu),
        YEAR(LC.ThoiGianChieu);
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DoanhThu_TheoTuan]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DoanhThu_TheoTuan]
    @fromDate DATE,
    @toDate   DATE
AS
BEGIN
    SELECT 
        DATEPART(YEAR, LC.ThoiGianChieu) AS [Năm],
        DATEPART(WEEK, LC.ThoiGianChieu) AS [Tuần],
        COUNT(V.id) AS [Số vé đã bán],
        SUM(V.TienBanVe) AS [Tổng doanh thu]
    FROM Ve V
    JOIN LichChieu LC ON V.idLichChieu = LC.id
    WHERE 
        V.TrangThai = 1
        AND LC.ThoiGianChieu >= @fromDate
        AND LC.ThoiGianChieu < DATEADD(DAY, 1, @toDate)
    GROUP BY 
        DATEPART(YEAR, LC.ThoiGianChieu),
        DATEPART(WEEK, LC.ThoiGianChieu)
    ORDER BY [Năm], [Tuần];
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Ghe_CRUD]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_Ghe_CRUD]
(
    @Action       NVARCHAR(30),

    -- Ghế
    @IdPhong      NVARCHAR(10)  = NULL,
    @IdGhe        NVARCHAR(50)  = NULL,
    @IdLoaiGhe    INT           = NULL,
    @Keyword      NVARCHAR(50)  = NULL,
    @IdLichChieu  nvarchar(20) = NULL,
    -- Loại ghế
    @TenLoaiGhe   NVARCHAR(100) = NULL,
    @ChiPhi       DECIMAL(18,2) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    /* ===================== LOẠI GHẾ ===================== */

    IF @Action = 'LOAIGHE_GET_ALL'
    BEGIN
        SELECT idLoaiGhe, TenLoaiGhe, ChiPhi
        FROM LoaiGhe
        ORDER BY idLoaiGhe;
        RETURN;
    END

    IF @Action = 'LOAIGHE_ADD'
    BEGIN
        IF @TenLoaiGhe IS NULL OR @ChiPhi IS NULL
        BEGIN
            RAISERROR(N'Thiếu dữ liệu loại ghế',16,1);
            RETURN;
        END

        INSERT INTO LoaiGhe(TenLoaiGhe, ChiPhi)
        VALUES (@TenLoaiGhe, @ChiPhi);
        RETURN;
    END

    IF @Action = 'LOAIGHE_UPDATE'
    BEGIN
        UPDATE LoaiGhe
        SET TenLoaiGhe = @TenLoaiGhe,
            ChiPhi     = @ChiPhi
        WHERE idLoaiGhe = @IdLoaiGhe;

        IF @@ROWCOUNT = 0
            RAISERROR(N'Không tìm thấy loại ghế',16,1);
        RETURN;
    END

    IF @Action = 'LOAIGHE_DELETE'
    BEGIN
        IF EXISTS (SELECT 1 FROM Ghe WHERE idLoaiGhe = @IdLoaiGhe)
        BEGIN
            RAISERROR(N'Loại ghế đang được sử dụng, không thể xóa',16,1);
            RETURN;
        END

        DELETE FROM LoaiGhe WHERE idLoaiGhe = @IdLoaiGhe;
        RETURN;
    END
     /* ==========+====== GHẾ - LỊCH CHIẾU ================ */

    IF @Action = 'GET_BY_LICHCHIEU'
    BEGIN
        SELECT 
            G.id,
            G.MaGhe,
            G.Hang,
            G.Cot,
            LG.TenLoaiGhe,
            LG.ChiPhi,
            CASE 
                WHEN EXISTS (
                    SELECT 1 
                    FROM Ve V
                    WHERE V.idGhe = G.id
                      AND V.idLichChieu = @IdLichChieu   -- ✅ SỬA Ở ĐÂY
                      AND V.TrangThai = 2
                ) THEN 1 
                ELSE 0
            END AS IsDaBan,
            G.TrangThai
        FROM Ghe G
        JOIN LoaiGhe LG 
            ON G.idLoaiGhe = LG.idLoaiGhe
        WHERE G.idPhong = @IdPhong
        ORDER BY G.Hang, G.Cot;

        RETURN;
    END
    /* ======================= GHẾ ======================= */

    IF @Action = 'GET_BY_PHONG'
    BEGIN
        SELECT 
            G.id,
            G.MaGhe,
            G.Hang,
            G.Cot,
            LG.TenLoaiGhe,
            LG.ChiPhi,
            CASE G.TrangThai
                WHEN 0 THEN N'Bình thường'
                WHEN 1 THEN N'Đang sửa'
            END AS TrangThai
        FROM Ghe G
        JOIN LoaiGhe LG ON G.idLoaiGhe = LG.idLoaiGhe
        WHERE G.idPhong = @IdPhong
        ORDER BY G.Hang, G.Cot;
        RETURN;
    END

    IF @Action = 'GENERATE_BY_PHONG'
    BEGIN
        DECLARE @SoHang INT, @SoCot INT, @LoaiGheMacDinh INT;

        SELECT TOP 1 @LoaiGheMacDinh = idLoaiGhe FROM LoaiGhe ORDER BY idLoaiGhe;

        IF @LoaiGheMacDinh IS NULL
        BEGIN
            RAISERROR(N'Chưa có loại ghế nào',16,1);
            RETURN;
        END

        SELECT @SoHang = SoHangGhe, @SoCot = SoGheMotHang
        FROM PhongChieu WHERE id = @IdPhong;

        IF @SoHang IS NULL OR @SoCot IS NULL
        BEGIN
            RAISERROR(N'Không tìm thấy phòng chiếu',16,1);
            RETURN;
        END

        BEGIN TRAN;
        DELETE FROM Ghe WHERE idPhong = @IdPhong;

        DECLARE @Hang INT = 1, @Cot INT;
        WHILE @Hang <= @SoHang
        BEGIN
            SET @Cot = 1;
            WHILE @Cot <= @SoCot
            BEGIN
                DECLARE @MaGhe NVARCHAR(10) = CHAR(64 + @Hang) + CAST(@Cot AS NVARCHAR);

                INSERT INTO Ghe(id, MaGhe, idPhong, Hang, Cot, idLoaiGhe, TrangThai)
                VALUES (
                    'G_' + @IdPhong + '_' + @MaGhe,
                    @MaGhe,
                    @IdPhong,
                    @Hang,
                    @Cot,
                    @LoaiGheMacDinh,
                    0
                );
                SET @Cot += 1;
            END
            SET @Hang += 1;
        END
        COMMIT TRAN;
        RETURN;
    END

    IF @Action = 'DELETE_ALL_BY_PHONG'
    BEGIN
        DELETE FROM Ghe WHERE idPhong = @IdPhong;
        RETURN;
    END

    IF @Action = 'UPDATE_LOAIGHE_GHE'
    BEGIN
        UPDATE Ghe SET idLoaiGhe = @IdLoaiGhe WHERE id = @IdGhe;
        IF @@ROWCOUNT = 0
            RAISERROR(N'Không tìm thấy ghế cần cập nhật',16,1);
        RETURN;
    END

    IF @Action = 'SEARCH'
    BEGIN
        SELECT 
            G.id, G.MaGhe, G.Hang, G.Cot,
            LG.TenLoaiGhe,
            CASE G.TrangThai
                WHEN 0 THEN N'Bình thường'
                WHEN 1 THEN N'Đang sửa'
            END AS TrangThai
        FROM Ghe G
        JOIN LoaiGhe LG ON G.idLoaiGhe = LG.idLoaiGhe
        WHERE G.idPhong = @IdPhong
          AND (G.MaGhe LIKE '%' + @Keyword + '%'
               OR LG.TenLoaiGhe LIKE '%' + @Keyword + '%');
        RETURN;
    END

    RAISERROR(N'Action không hợp lệ',16,1);
END
GO
/****** Object:  StoredProcedure [dbo].[USP_KhachHang_CRUD]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_KhachHang_CRUD]
(
    @Action NVARCHAR(20),

    @MaKH VARCHAR(50) = NULL,
    @HoTen NVARCHAR(100) = NULL,
    @NgaySinh DATE = NULL,
    @DiaChi NVARCHAR(100) = NULL,
    @SDT VARCHAR(20) = NULL,
    @CMND INT = NULL,
    @DiemTichLuy INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- ===================== GET ALL =====================
    IF @Action = 'GET_ALL'
    BEGIN
        SELECT
            id AS MaKH,
            HoTen,
            NgaySinh,
            DiaChi,
            SDT,
            CMND,
            DiemTichLuy
        FROM KhachHang;
        RETURN;
    END

    -- ===================== INSERT =====================
    IF @Action = 'INSERT'
    BEGIN
        DECLARE @Next INT;
        DECLARE @NewID VARCHAR(50);

        SELECT @Next = ISNULL(
            MAX(CAST(SUBSTRING(id, 3, LEN(id)) AS INT)), 0
        ) + 1
        FROM KhachHang
        WHERE id LIKE 'KH%';

        SET @NewID = 'KH' + RIGHT('000' + CAST(@Next AS VARCHAR), 3);

        INSERT INTO KhachHang
        (id, HoTen, NgaySinh, DiaChi, SDT, CMND, DiemTichLuy)
        VALUES
        (@NewID, @HoTen, @NgaySinh, @DiaChi, @SDT, @CMND, 0);

        RETURN;
    END

    -- ===================== UPDATE =====================
    IF @Action = 'UPDATE'
    BEGIN
        UPDATE KhachHang
        SET
            HoTen = @HoTen,
            NgaySinh = @NgaySinh,
            DiaChi = @DiaChi,
            SDT = @SDT,
            CMND = @CMND,
            DiemTichLuy = @DiemTichLuy
        WHERE id = @MaKH;

        RETURN;
    END

    -- ===================== DELETE =====================
    IF @Action = 'DELETE'
    BEGIN
        DELETE FROM KhachHang
        WHERE id = @MaKH;

        RETURN;
    END

    -- ===================== SEARCH =====================
    IF @Action = 'SEARCH'
    BEGIN
        SELECT 
            id AS [Mã khách hàng],
            HoTen AS [Họ tên],
            NgaySinh AS [Ngày sinh],
            DiaChi AS [Địa chỉ],
            SDT AS [SĐT],
            CMND AS [CMND],
            DiemTichLuy AS [Điểm tích lũy]
        FROM KhachHang
        WHERE dbo.fuConvertToUnsign1(HoTen)
              LIKE N'%' + dbo.fuConvertToUnsign1(@HoTen) + N'%';

        RETURN;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LichChieu_CRUD]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_LichChieu_CRUD]
(
    @Action        NVARCHAR(20),        -- 'GET_ALL', 'INSERT', 'UPDATE', 'DELETE', 'SEARCH'
    @MaLichChieu   VARCHAR(50) = NULL,
    @MaDinhDang    VARCHAR(50) = NULL,
    @MaPhong       VARCHAR(50) = NULL,
    @ThoiGianChieu DATETIME = NULL,
    @GiaVe         DECIMAL(18,2) = NULL,
    @TenPhim       NVARCHAR(255) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- ===================== GET_ALL =====================
    IF @Action = 'GET_ALL'
    BEGIN
        SELECT 
            LC.id AS MaLichChieu,
            DD.id AS MaDinhDang,
            LC.idPhong AS MaPhong, 
            P.TenPhim AS TenPhim, 
            MH.TenMH AS ManHinh, 
            LC.ThoiGianChieu, 
            LC.GiaVe
        FROM LichChieu LC
        JOIN DinhDangPhim DD ON LC.idDinhDang = DD.id
        JOIN Phim P ON DD.idPhim = P.id
        JOIN LoaiManHinh MH ON DD.idLoaiManHinh = MH.id;
        RETURN;
    END

    -- ===================== INSERT =====================
    IF @Action = 'INSERT'
    BEGIN
DECLARE @NextNumber INT;
    DECLARE @NewID VARCHAR(50);

    SELECT @NextNumber = ISNULL(MAX(CAST(SUBSTRING(id, 3, LEN(id)) AS INT)), 0) + 1
    FROM LichChieu
    WHERE id LIKE 'LC%';

    SET @NewID = 'LC' + RIGHT('000' + CAST(@NextNumber AS VARCHAR(3)), 3);

    INSERT INTO LichChieu (id, idDinhDang, idPhong, ThoiGianChieu, GiaVe)
    VALUES (@NewID, @MaDinhDang, @MaPhong, @ThoiGianChieu, @GiaVe);
        RETURN;
    END

    -- ===================== UPDATE =====================
    IF @Action = 'UPDATE'
    BEGIN
        UPDATE LichChieu
        SET 
            idDinhDang = @MaDinhDang,
            idPhong = @MaPhong,
            ThoiGianChieu = @ThoiGianChieu,
            GiaVe = @GiaVe
        WHERE id = @MaLichChieu;
        RETURN;
    END

    -- ===================== DELETE =====================
    IF @Action = 'DELETE'
    BEGIN
        DELETE FROM LichChieu
        WHERE id = @MaLichChieu;
        RETURN;
    END

    -- ===================== SEARCH =====================
    IF @Action = 'SEARCH'
    BEGIN
        SELECT 
            LC.id AS MaLichChieu, 
            LC.idPhong AS MaPhong, 
            P.TenPhim AS TenPhim, 
            MH.TenMH AS ManHinh, 
            LC.ThoiGianChieu, 
            LC.GiaVe
        FROM LichChieu LC
        JOIN DinhDangPhim DD ON LC.idDinhDang = DD.id
        JOIN Phim P ON DD.idPhim = P.id
        JOIN LoaiManHinh MH ON DD.idLoaiManHinh = MH.id
        WHERE (@MaLichChieu IS NULL OR LC.id LIKE '%' + @MaLichChieu + '%')
          AND (@MaDinhDang IS NULL OR LC.idDinhDang LIKE '%' + @MaDinhDang + '%')
          AND (@MaPhong IS NULL OR LC.idPhong LIKE '%' + @MaPhong + '%')
          AND (@ThoiGianChieu IS NULL OR LC.ThoiGianChieu = @ThoiGianChieu)
          AND (@GiaVe IS NULL OR LC.GiaVe = @GiaVe)
          AND (@TenPhim IS NULL OR dbo.fuConvertToUnsign1(P.TenPhim) LIKE N'%' + dbo.fuConvertToUnsign1(@TenPhim) + N'%');
        RETURN;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ManHinh_CRUD]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ManHinh_CRUD]
(
    @Action NVARCHAR(50),       -- 'GET_ALL', 'SEARCH', 'INSERT', 'DELETE'
    @idScreenType VARCHAR(50) = NULL,
    @ten NVARCHAR(100) = NULL,
    @tinhTrang NVARCHAR(100) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -------------------------
    -- Lấy danh sách tất cả loại màn hình
    -------------------------
    IF @Action = 'GET_ALL'
    BEGIN
        SELECT *
        FROM LoaiManHinh
        ORDER BY id ASC;
    END

    -------------------------
    -- Tìm kiếm theo tên
    -------------------------
    ELSE IF @Action = 'SEARCH'
    BEGIN
        SELECT *
        FROM LoaiManHinh
        WHERE TenMH LIKE '%' + @ten + '%'
        ORDER BY id ASC;
    END

    -------------------------
    -- Thêm màn hình mới
    -------------------------
    ELSE IF @Action = 'INSERT'
    BEGIN
        DECLARE @newID VARCHAR(50);

        -- Lấy id lớn nhất hiện có
        SELECT TOP 1 @newID = id
        FROM LoaiManHinh
        WHERE id LIKE 'MH%'
        ORDER BY id DESC;

        -- Nếu chưa có, bắt đầu từ MH001
        IF @newID IS NULL
            SET @newID = 'MH001';
        ELSE
            -- Tăng số sau MH lên 1
            SET @newID = 'MH' + RIGHT('000' + CAST(CAST(SUBSTRING(@newID, 3, LEN(@newID)) AS INT) + 1 AS VARCHAR(3)), 3);

        INSERT INTO LoaiManHinh (id, TenMH)
        VALUES (@newID, @ten);
    END

    -------------------------
    -- Xóa loại màn hình
    -------------------------
    ELSE IF @Action = 'DELETE'
    BEGIN
        DELETE FROM LoaiManHinh
        WHERE id = @idScreenType;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MonAn_CRUD]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_MonAn_CRUD]
    @Action     NVARCHAR(10),      -- 'INSERT', 'UPDATE', 'DELETE', 'SELECT'
    @id         VARCHAR(50) = NULL,
    @tenMon     NVARCHAR(200) = NULL,
    @moTa       NVARCHAR(500) = NULL,
    @donGia     MONEY = NULL,
    @loaiMon    INT = NULL,
    @trangThai  INT = NULL,
    @hinhAnh    IMAGE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- ===================== INSERT =====================
    IF @Action = 'INSERT'
    BEGIN
        DECLARE @newId VARCHAR(10)
        DECLARE @max INT
        SELECT @max = MAX(CAST(SUBSTRING(id,3,LEN(id)) AS INT)) FROM MonAn WHERE id LIKE 'MA%'
        SET @max = ISNULL(@max,0) + 1
        SET @newId = 'MA' + RIGHT('000' + CAST(@max AS VARCHAR), 3)

        INSERT INTO MonAn (id, TenMon, MoTa, DonGia, LoaiMon, TrangThai, HinhAnh)
        VALUES (@newId, @tenMon, @moTa, @donGia, @loaiMon, @trangThai, @hinhAnh)
        SELECT @newId AS id
    END

	    -- ===================== UPDATE =====================
    ELSE IF @Action = 'UPDATE'
    BEGIN
        UPDATE MonAn
        SET TenMon = @tenMon,
            MoTa = @moTa,
            DonGia = @donGia,
            LoaiMon = @loaiMon,
            TrangThai = @trangThai,
            HinhAnh = @hinhAnh
        WHERE id = @id
    END

	    -- ===================== DELETE =====================
    ELSE IF @Action = 'DELETE'
    BEGIN
        DELETE FROM MonAn WHERE id = @id
    END

	    -- ===================== GET ALL =====================
    ELSE IF @Action = 'SELECT'
    BEGIN
        SELECT id AS [Mã món],
               TenMon AS [Tên món],
               MoTa AS [Mô tả],
               DonGia AS [Đơn giá],
               LoaiMon AS [Loại món],
               TrangThai AS [Trạng thái],
               HinhAnh AS [Hình ảnh]
        FROM MonAn
        WHERE (@id IS NULL OR id = @id)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_NhanVien_CRUD]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_NhanVien_CRUD]
    @Action NVARCHAR(20),        -- 'INSERT', 'UPDATE', 'DELETE', 'GET_ALL', 'SEARCH'
    @MaNV VARCHAR(50) = NULL,
    @HoTen NVARCHAR(100) = NULL,
    @NgaySinh DATE = NULL,
    @DiaChi NVARCHAR(200) = NULL,
    @SDT VARCHAR(20) = NULL,
    @CMND VARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @Action = 'INSERT'
    BEGIN
        -- Sinh mã nhân viên tự động
        DECLARE @NewMaNV VARCHAR(50);

        SELECT @NewMaNV = 'NV' + RIGHT('000' + CAST(ISNULL(MAX(CAST(SUBSTRING(id, 3, 10) AS INT)), 0) + 1 AS VARCHAR), 3)
        FROM dbo.NhanVien;

        INSERT INTO dbo.NhanVien (id, HoTen, NgaySinh, DiaChi, SDT, CMND)
        VALUES (@NewMaNV, @HoTen, @NgaySinh, @DiaChi, @SDT, @CMND);

        -- Trả về mã nhân viên vừa tạo
        SELECT @NewMaNV AS [MaNVMoi];
    END
    ELSE IF @Action = 'UPDATE'
    BEGIN
        UPDATE dbo.NhanVien
        SET HoTen = @HoTen,
            NgaySinh = @NgaySinh,
            DiaChi = @DiaChi,
            SDT = @SDT,
            CMND = @CMND
        WHERE id = @MaNV;
    END
    ELSE IF @Action = 'DELETE'
    BEGIN
        DELETE FROM dbo.NhanVien
        WHERE id = @MaNV;
    END
    ELSE IF @Action = 'GET_ALL'
    BEGIN
        SELECT id AS [Mã nhân viên],
               HoTen AS [Họ và Tên],
               NgaySinh AS [Ngày Sinh],
               DiaChi AS [Địa chỉ],
               SDT AS [Số Điện Thoại],
               CMND AS [CMND]
        FROM dbo.NhanVien;
    END
    ELSE IF @Action = 'SEARCH'
    BEGIN
        SELECT id AS [Mã nhân viên],
               HoTen AS [Họ tên],
               NgaySinh AS [Ngày sinh],
               DiaChi AS [Địa chỉ],
               SDT AS [SĐT],
               CMND AS [CMND]
        FROM dbo.NhanVien
        WHERE (@MaNV IS NULL OR id = @MaNV)
          AND (@HoTen IS NULL OR dbo.fuConvertToUnsign1(HoTen) LIKE N'%' + dbo.fuConvertToUnsign1(@HoTen) + N'%')
          AND (@CMND IS NULL OR CMND LIKE '%' + @CMND + '%')
          AND (@SDT IS NULL OR SDT LIKE '%' + @SDT + '%');
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Phim_CRUD]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Phim_CRUD]
(
    @Action VARCHAR(50),
    @MaPhim VARCHAR(50) = NULL,
    @TenPhim NVARCHAR(100) = NULL,
    @MoTa NVARCHAR(1000) = NULL,
    @ThoiLuong FLOAT = NULL,
    @NgayKhoiChieu DATE = NULL,
    @NgayKetThuc DATE = NULL,
    @SanXuat NVARCHAR(50) = NULL,
    @DaoDien NVARCHAR(100) = NULL,
    @NamSX INT = NULL,
    @ApPhich IMAGE = NULL,
    @MaTheLoai VARCHAR(50) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    /* ================= INSERT ================= */
    IF @Action = 'INSERT'
    BEGIN
        DECLARE @Next INT, @NewID VARCHAR(50);

        SELECT @Next = ISNULL(MAX(CAST(SUBSTRING(id,3,LEN(id)) AS INT)),0) + 1
        FROM Phim WHERE id LIKE 'PH%';

        SET @NewID = 'PH' + RIGHT('000' + CAST(@Next AS VARCHAR),3);

        INSERT INTO Phim
        (id, TenPhim, MoTa, ThoiLuong, NgayKhoiChieu, NgayKetThuc,
         SanXuat, DaoDien, NamSX, ApPhich)
        VALUES
        (@NewID, @TenPhim, @MoTa, @ThoiLuong, @NgayKhoiChieu, @NgayKetThuc,
         @SanXuat, @DaoDien, @NamSX, @ApPhich);

        SELECT @NewID AS MaPhim;
        RETURN;
    END

    /* ================= UPDATE ================= */
    IF @Action = 'UPDATE'
    BEGIN
        UPDATE Phim
        SET TenPhim = @TenPhim,
            MoTa = @MoTa,
            ThoiLuong = @ThoiLuong,
            NgayKhoiChieu = @NgayKhoiChieu,
            NgayKetThuc = @NgayKetThuc,
            SanXuat = @SanXuat,
            DaoDien = @DaoDien,
            NamSX = @NamSX,
            ApPhich = @ApPhich
        WHERE id = @MaPhim;
        RETURN;
    END

    /* ================= DELETE ================= */
    IF @Action = 'DELETE'
    BEGIN
        DELETE FROM PhanLoaiPhim WHERE idPhim = @MaPhim;
        DELETE FROM Phim WHERE id = @MaPhim;
        RETURN;
    END

    /* ================= ADD THE LOAI ================= */
    IF @Action = 'ADD_THELOAI'
    BEGIN
        INSERT INTO PhanLoaiPhim (idPhim, idTheLoai)
        VALUES (@MaPhim, @MaTheLoai);
        RETURN;
    END

    /* ================= DELETE THE LOAI ================= */
    IF @Action = 'DELETE_THELOAI'
    BEGIN
        DELETE FROM PhanLoaiPhim WHERE idPhim = @MaPhim;
        RETURN;
    END

    /* ================= SEARCH ================= */
    IF @Action = 'SEARCH'
    BEGIN
        SELECT id AS MaPhim, TenPhim, MoTa, ThoiLuong,
               NgayKhoiChieu, NgayKetThuc, SanXuat, DaoDien, NamSX, ApPhich
        FROM Phim
        WHERE (@MaPhim IS NULL OR id LIKE '%' + @MaPhim + '%')
          AND (@TenPhim IS NULL OR TenPhim LIKE N'%' + @TenPhim + N'%')
          AND (@NamSX IS NULL OR NamSX = @NamSX);
        RETURN;
    END

    /* ================= GET ALL ================= */
    IF @Action = 'GET_ALL'
    BEGIN
        SELECT id AS MaPhim, TenPhim, MoTa, ThoiLuong,
               NgayKhoiChieu, NgayKetThuc, SanXuat, DaoDien, NamSX, ApPhich
        FROM Phim
        ORDER BY TenPhim;
        RETURN;
    END

    /* ================= GET THE LOAI ================= */
    IF @Action = 'GET_THELOAI'
    BEGIN
        SELECT TL.id AS MaTheLoai, TL.TenTheLoai
        FROM TheLoai TL
        JOIN PhanLoaiPhim PL ON TL.id = PL.idTheLoai
        WHERE PL.idPhim = @MaPhim;
        RETURN;
    END

    /* ================= GET COMBO ================= */
    IF @Action = 'GET_COMBO'
    BEGIN
        SELECT id AS MaPhim, TenPhim
        FROM Phim
        ORDER BY TenPhim;
        RETURN;
    END

    /* ================= GET LAST ================= */
    IF @Action = 'GET_LASTED'
    BEGIN
        SELECT TOP 1 id AS MaPhim
        FROM Phim
        ORDER BY id DESC;
        RETURN;
    END

    /* ================= GET INFO ================= */
    IF @Action = 'GET_INFO'
    BEGIN
        SELECT id, TenPhim, ThoiLuong, NamSX, ApPhich
        FROM Phim
        WHERE id = @MaPhim;
        RETURN;
    END

    /* ================= SUẤT CHIẾU ================= */
    IF @Action = 'GET_SUATCHIEU_PHIM'
    BEGIN
        SELECT 
            LC.id AS MaLichChieu,
            LC.ThoiGianChieu,
            LC.GiaVe,
            PC.TenPhong,
            LMH.TenMH AS TenLoaiManHinh
        FROM DinhDangPhim DD
        JOIN LichChieu LC ON LC.idDinhDang = DD.id
        JOIN PhongChieu PC ON LC.idPhong = PC.id
        JOIN LoaiManHinh LMH ON DD.idLoaiManHinh = LMH.id
        WHERE DD.idPhim = @MaPhim
          AND CAST(LC.ThoiGianChieu AS DATE) = @NgayKhoiChieu
        ORDER BY LC.ThoiGianChieu;
        RETURN;
    END

    /* ================= PHIM ĐANG CHIẾU ================= */
    IF @Action = 'GET_PHIM_DANG_CHIEU'
    BEGIN
        SELECT DISTINCT
            P.id, P.TenPhim, P.ThoiLuong,
            P.DaoDien, P.NamSX,
            P.NgayKhoiChieu, P.NgayKetThuc, P.ApPhich
        FROM Phim P
        JOIN DinhDangPhim DD ON DD.idPhim = P.id
        JOIN LichChieu LC ON LC.idDinhDang = DD.id
        WHERE CAST(LC.ThoiGianChieu AS DATE) = @NgayKhoiChieu
        ORDER BY P.TenPhim;
        RETURN;
    END

    /* ================= PHIM ĐANG CHIẾU SIMPLE ================= */
    IF @Action = 'GET_PHIM_DANG_CHIEU_SIMPLE'
    BEGIN
        SELECT DISTINCT
            P.id, P.TenPhim, P.ThoiLuong,
            P.DaoDien, P.NamSX,
            P.NgayKhoiChieu, P.NgayKetThuc
        FROM Phim P
        JOIN DinhDangPhim DD ON DD.idPhim = P.id
        JOIN LichChieu LC ON LC.idDinhDang = DD.id
        WHERE CAST(LC.ThoiGianChieu AS DATE) = @NgayKhoiChieu
        ORDER BY P.TenPhim;
        RETURN;
    END

    /* ================= GET POSTER ================= */
    IF @Action = 'GET_POSTER'
    BEGIN
        SELECT ApPhich
        FROM Phim
        WHERE id = @MaPhim;
        RETURN;
    END

    /* ================= INVALID ACTION ================= */
    RAISERROR(N'Action không hợp lệ trong USP_Phim_CRUD', 16, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PhongChieu_CRUD]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_PhongChieu_CRUD]
(
    @Action NVARCHAR(50),           -- 'GET_ALL', 'SEARCH', 'INSERT', 'UPDATE', 'DELETE'
    @idPhong NVARCHAR(10) = NULL,   -- dùng cho UPDATE/DELETE
    @tenPhong NVARCHAR(100) = NULL,
    @idMH NVARCHAR(50) = NULL,
    @soChoNgoi INT = NULL,
    @tinhTrang INT = NULL,
    @soHangGhe INT = NULL,
    @soGheMotHang INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Lấy danh sách toàn bộ phòng chiếu
    IF @Action = 'GET_ALL'
    BEGIN
        SELECT PC.id AS [Mã phòng], 
               TenPhong AS [Tên phòng], 
               TenMH AS [Tên màn hình], 
               PC.SoChoNgoi AS [Số chỗ ngồi], 
               PC.TinhTrang AS [Tình trạng], 
               PC.SoHangGhe AS [Số hàng ghế], 
               PC.SoGheMotHang AS [Ghế mỗi hàng],
               MH.id AS [Mã màn hình]
        FROM dbo.PhongChieu AS PC
        JOIN dbo.LoaiManHinh AS MH ON PC.idManHinh = MH.id;
    END

    -- Tìm kiếm phòng chiếu
    ELSE IF @Action = 'SEARCH'
    BEGIN
        SELECT id AS [Mã phòng],
               TenPhong AS [Tên phòng],
               idManHinh AS [Mã màn hình],
               SoChoNgoi AS [Số chỗ ngồi],
               TinhTrang AS [Tình trạng],
               SoHangGhe AS [Số hàng ghế],
               SoGheMotHang AS [Ghế mỗi hàng]
        FROM PhongChieu
        WHERE (@tenPhong IS NULL OR TenPhong LIKE '%' + @tenPhong + '%')
          AND (@soChoNgoi IS NULL OR SoChoNgoi = @soChoNgoi)
          AND (@tinhTrang IS NULL OR TinhTrang = @tinhTrang);
    END

    -- Thêm phòng chiếu mới
    ELSE IF @Action = 'INSERT'
    BEGIN
        DECLARE @newID VARCHAR(10);
        SELECT @newID = 'PC' + RIGHT('000' + CAST(
            ISNULL(MAX(CAST(SUBSTRING(id, 3, LEN(id)) AS INT)), 0) + 1
        AS VARCHAR), 3)
        FROM PhongChieu
        WHERE id LIKE 'PC%';

        INSERT INTO PhongChieu (id, TenPhong, idManHinh, SoChoNgoi, TinhTrang, SoHangGhe, SoGheMotHang)
        VALUES (@newID, @tenPhong, @idMH, @soChoNgoi, @tinhTrang, @soHangGhe, @soGheMotHang);
    END

    -- Cập nhật phòng chiếu
    ELSE IF @Action = 'UPDATE'
    BEGIN
        UPDATE PhongChieu
        SET TenPhong = @tenPhong,
            idManHinh = @idMH,
            SoChoNgoi = @soChoNgoi,
            TinhTrang = @tinhTrang,
            SoHangGhe = @soHangGhe,
            SoGheMotHang = @soGheMotHang
        WHERE id = @idPhong;
    END

    -- Xóa phòng chiếu
    ELSE IF @Action = 'DELETE'
    BEGIN
        DELETE FROM PhongChieu
        WHERE id = @idPhong;
    END

    --Load Combox cho Ghế
    ELSE IF @Action = 'LOAD_COMBOX'
    BEGIN
        SELECT id, TenPhong, SoHangGhe, SoGheMotHang
        FROM PhongChieu
        ORDER BY TenPhong
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_TaiKhoan_CRUD]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_TaiKhoan_CRUD]
(
    @Action NVARCHAR(50),            -- 'GET_ALL', 'LOGIN', 'SEARCH', 'UPDATE'
    @OldUsername NVARCHAR(100) = NULL, -- dùng cho LOGIN và UPDATE
    @NewUsername NVARCHAR(100) = NULL, -- dùng cho UPDATE
    @NewPassword NVARCHAR(100) = NULL, -- dùng cho UPDATE
    @LoaiTK INT = NULL,
    @MaNV VARCHAR(50) = NULL,
    @HoTen NVARCHAR(100) = NULL,
    @Pass NVARCHAR(100) = NULL        -- dùng cho LOGIN
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Lấy danh sách toàn bộ tài khoản
    IF @Action = 'GET_ALL'
    BEGIN
        SELECT 
            TK.UserName AS [Username],
            TK.Pass AS [Mật khẩu],
            TK.LoaiTK AS [Loại tài khoản],
            NV.id AS [Mã nhân viên],
            NV.HoTen AS [Tên nhân viên]
        FROM dbo.TaiKhoan TK
        JOIN dbo.NhanVien NV ON NV.id = TK.idNV;
    END

    -- Đăng nhập
    ELSE IF @Action = 'LOGIN'
    BEGIN
        SELECT 
            TK.UserName,
            TK.LoaiTK,
            NV.id AS MaNV,
            NV.HoTen
        FROM TaiKhoan TK
        JOIN NhanVien NV ON TK.idNV = NV.id
        WHERE TK.UserName = @OldUsername   -- SỬA TẠI ĐÂY
          AND TK.Pass = dbo.fn_EncryptPassword(@Pass);
    END

    -- Tìm kiếm tài khoản
    ELSE IF @Action = 'SEARCH'
    BEGIN
        SELECT 
            TK.UserName AS [Username], 
            TK.LoaiTK AS [Loại tài khoản], 
            NV.id AS [Mã nhân viên], 
            NV.HoTen AS [Tên nhân viên]
        FROM dbo.TaiKhoan TK
        JOIN dbo.NhanVien NV ON NV.id = TK.idNV
        WHERE (@HoTen IS NULL OR dbo.fuConvertToUnsign1(NV.HoTen) LIKE N'%' + dbo.fuConvertToUnsign1(@HoTen) + N'%')
          AND (@MaNV IS NULL OR NV.id = @MaNV);
    END

    -- Cập nhật tài khoản
    ELSE IF @Action = 'UPDATE'
    BEGIN
        -- Kiểm tra trùng username mới
        IF EXISTS (SELECT 1 FROM dbo.TaiKhoan WHERE UserName = @NewUsername AND UserName <> @OldUsername)
        BEGIN
            RAISERROR('Username mới đã tồn tại!', 16, 1);
            RETURN;
        END

        -- Update username, loại tài khoản và mật khẩu (nếu có)
        UPDATE dbo.TaiKhoan
        SET UserName = @NewUsername,
            LoaiTK = @LoaiTK,
            Pass = CASE 
                      WHEN @NewPassword IS NULL THEN Pass
                      ELSE dbo.fn_EncryptPassword(@NewPassword)
                   END
        WHERE UserName = @OldUsername;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_TheLoai_CRUD]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_TheLoai_CRUD]
(
    @Action VARCHAR(50),
    @MaTheLoai VARCHAR(50) = NULL,
    @TenTheLoai NVARCHAR(100) = NULL,
    @MoTa NVARCHAR(100) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Thêm thể loại mới
    IF @Action = 'INSERT'
    BEGIN
        DECLARE @NextNumber INT;
        DECLARE @NewID VARCHAR(50);

        SELECT @NextNumber = ISNULL(MAX(CAST(SUBSTRING(id,3,LEN(id)) AS INT)),0) + 1
        FROM TheLoai
        WHERE id LIKE 'TL%';

        SET @NewID = 'TL' + RIGHT('000' + CAST(@NextNumber AS VARCHAR),3);

        INSERT INTO TheLoai(id, TenTheLoai, MoTa)
        VALUES (@NewID, @TenTheLoai, @MoTa);

        SELECT @NewID AS MaTheLoai;
    END

    -- Sửa thể loại
    ELSE IF @Action = 'UPDATE'
    BEGIN
        UPDATE TheLoai
        SET TenTheLoai = @TenTheLoai,
            MoTa = @MoTa
        WHERE id = @MaTheLoai;
    END

    -- Xóa thể loại
    ELSE IF @Action = 'DELETE'
    BEGIN
        DELETE FROM TheLoai
        WHERE id = @MaTheLoai;
    END

    -- Tìm kiếm thể loại
    ELSE IF @Action = 'SEARCH'
    BEGIN
        SELECT id AS MaTheLoai, TenTheLoai, MoTa
        FROM TheLoai
        WHERE (@MaTheLoai IS NULL OR id LIKE '%' + @MaTheLoai + '%')
          AND (@TenTheLoai IS NULL OR TenTheLoai LIKE N'%' + @TenTheLoai + N'%');
    END

    -- Lấy danh sách tất cả thể loại
    ELSE IF @Action = 'GET_ALL'
    BEGIN
        SELECT id AS MaTheLoai, TenTheLoai, MoTa
        FROM TheLoai
        ORDER BY TenTheLoai;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Ve_CRUD]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[USP_Ve_CRUD]
(
    @Action NVARCHAR(50),
    @MaLichChieu VARCHAR(50) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- ===================== GET_ALL =====================
    IF @Action = 'GET_ALL'
    BEGIN
        SELECT 
            v.id AS MaVe,
            v.LoaiVe,
            v.idLichChieu,
            v.idGhe,
            v.idHoaDon,
            v.idKhachHang,
            v.TrangThai,
            v.TienBanVe,
            v.MaGhe
        FROM Ve v
        ORDER BY v.idLichChieu, v.idGhe;
        RETURN;
    END

    -- ===================== AUTO_ADD =====================
    IF @Action = 'AUTO_ADD'
    BEGIN
        IF @MaLichChieu IS NULL
        BEGIN
            RAISERROR('Phải truyền MaLichChieu để tạo vé', 16, 1);
            RETURN;
        END

        IF NOT EXISTS (SELECT 1 FROM LichChieu WHERE id = @MaLichChieu)
        BEGIN
            RAISERROR('Lịch chiếu không tồn tại', 16, 1);
            RETURN;
        END

        BEGIN TRY
            BEGIN TRANSACTION;

            INSERT INTO Ve (idLichChieu, idGhe, LoaiVe, TrangThai)
            SELECT @MaLichChieu, g.id, 0, 0
            FROM Ghe g
            LEFT JOIN Ve v ON v.idGhe = g.id AND v.idLichChieu = @MaLichChieu
            WHERE g.idPhong = (SELECT idPhong FROM LichChieu WHERE id = @MaLichChieu)
              AND v.id IS NULL
            ORDER BY g.Hang, g.Cot;

            COMMIT TRANSACTION;
        END TRY
        BEGIN CATCH
            IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
            DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
            RAISERROR('Lỗi khi tạo vé: %s', 16, 1, @ErrorMessage);
        END CATCH

        RETURN;
    END

    -- ===================== DELETE =====================
    IF @Action = 'DELETE'
    BEGIN
        IF @MaLichChieu IS NULL
        BEGIN
            RAISERROR('Phải truyền MaLichChieu để xóa vé', 16, 1);
            RETURN;
        END

        DELETE FROM Ve
        WHERE idLichChieu = @MaLichChieu;
        RETURN;
    END

    -- ===================== FIND =====================
    IF @Action = 'FIND'
    BEGIN
        SELECT 
            v.id AS MaVe,
            v.LoaiVe,
            v.idLichChieu,
            v.idGhe,
            v.idHoaDon,
            v.idKhachHang,
            v.TrangThai,
            v.TienBanVe,
            v.MaGhe
        FROM Ve v
        WHERE v.TrangThai = 1 -- đã bán
          AND (@MaLichChieu IS NULL OR v.idLichChieu = @MaLichChieu)
        ORDER BY v.idLichChieu, v.idGhe;
        RETURN;
    END

    -- =================== GET_ALL_VE_BY_LICHCHIEU ==================

    if @Action = 'GET_ALL_VE_BY_LICHCHIEU'
    begin
        SELECT 
            v.id AS MaVe,
            v.LoaiVe,
            v.idLichChieu,
            v.idGhe,
            v.idHoaDon,
            v.idKhachHang,
            v.TrangThai,
            v.TienBanVe,
            v.MaGhe
        FROM Ve v
        WHERE v.idLichChieu = @MaLichChieu
        ORDER BY v.idLichChieu, v.idGhe;
        RETURN;
    END

    -- ===================== GET_LICHCHIEU_CHUA_TAO_VE =====================
    IF @Action = 'GET_LICHCHIEU_CHUA_TAO_VE'
    BEGIN
        SELECT 
            lc.id AS MaLichChieu,
            lc.idPhong,
            lc.idDinhDang,
            lc.ThoiGianChieu,
            lc.GiaVe
        FROM LichChieu lc
        WHERE NOT EXISTS (
            SELECT 1 FROM Ve v WHERE v.idLichChieu = lc.id
        )
        ORDER BY lc.ThoiGianChieu;
        RETURN;
    END
END
GO
/****** Object:  Trigger [dbo].[trg_AfterInsertNhanVien]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_AfterInsertNhanVien]
ON [dbo].[NhanVien]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO TaiKhoan (UserName, Pass, LoaiTK, idNV)
    SELECT 
        i.id AS UserName,
        dbo.fn_EncryptPassword('123') AS Pass,
        2 AS LoaiTK,  -- Loại nhân viên mặc định
        i.id AS idNV
    FROM inserted i
END
GO
ALTER TABLE [dbo].[NhanVien] ENABLE TRIGGER [trg_AfterInsertNhanVien]
GO
/****** Object:  Trigger [dbo].[trg_DeleteTaiKhoanOnNhanVienDelete]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_DeleteTaiKhoanOnNhanVienDelete]
ON [dbo].[NhanVien]
AFTER DELETE
AS
BEGIN
    -- Xóa tài khoản liên quan đến nhân viên vừa bị xóa
    DELETE TK
    FROM dbo.TaiKhoan TK
    JOIN deleted d ON TK.idNV = d.id
END
GO
ALTER TABLE [dbo].[NhanVien] ENABLE TRIGGER [trg_DeleteTaiKhoanOnNhanVienDelete]
GO
/****** Object:  Trigger [dbo].[TR_Phim_XoaDinhDang]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_Phim_XoaDinhDang]
ON [dbo].[Phim]
AFTER DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DELETE DD
    FROM DinhDangPhim DD
    INNER JOIN deleted d ON DD.idPhim = d.id
END
GO
ALTER TABLE [dbo].[Phim] ENABLE TRIGGER [TR_Phim_XoaDinhDang]
GO
/****** Object:  Trigger [dbo].[trg_InsertVe]    Script Date: 25-Dec-25 8:34:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_InsertVe]
ON [dbo].[Ve]
AFTER INSERT
AS
BEGIN
    UPDATE v
    SET MaGhe = g.MaGhe
    FROM Ve v
    JOIN inserted i ON v.id = i.id
    JOIN Ghe g ON i.idGhe = g.id;
END;
GO
ALTER TABLE [dbo].[Ve] ENABLE TRIGGER [trg_InsertVe]
GO
